<launch>

    <param name="/use_sim_time" value="false"/>

    <!-- <arg name="initial_pose" default="translation={-0.40, 0.40, 0.0}, rotation={0.0, 0.0, -0.707}"/> -->
    <arg name="initial_pose" default="translation={-0.2, 0.6, 0.0}, rotation={0.0, 0.0, -3.1415}"/>

    <!-- output="screen" -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find vehicle_mission)/config
            -configuration_basename localization.lua
            -load_state_filename $(find vehicle_mission)/map/map.pbstream
            -start_trajectory_with_default_topics=false
            ">
        <!-- <remap from="/scan" to="/scan_topic" /> -->
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.05 -publish_period_sec 1.0" />
    <!-- <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.05" /> -->

    <!-- output="screen" -->
    <node name="cartographer_start_trajectory" pkg="cartographer_ros" type="cartographer_start_trajectory"
          args="-configuration_directory $(find vehicle_mission)/config
                -configuration_basename localization.lua
                -initial_pose='{to_trajectory_id=0, relative_pose={$(arg initial_pose)}}'">
    </node>
    
    <!-- # https://www.ncnynl.com/archives/201708/1903.html -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find vehicle_mission)/config/dwa/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find vehicle_mission)/config/dwa/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find vehicle_mission)/config/dwa/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find vehicle_mission)/config/dwa/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find vehicle_mission)/config/dwa/dwa_local_planner_params.yaml" command="load" />
        <!-- <rosparam file="$(find vehicle_mission)/config/move_base_params.yaml" command="load" /> -->

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />
        <!-- <remap from="/cmd_vel" to="/vehicle/cmd_vel_mission"/> -->
        <remap from="/cmd_vel" to="/vehicle/cmd_vel"/>
    </node>

    <node name="vehicle_mission" pkg="vehicle_mission" type="nav_to_point.py" output="screen"/>

</launch>